mixin player()
	.player
		.player-meta
			.player-meta__title Видео HD
			.player-meta__time
			.player-meta__share
		.player-control
			a(href="google.com" title="").player-control__btn.checkbox-noclick-js Смотреть
			.player-control__views Просмотров: 14204
			a(href="#" title="").player-control__cancel Отмена
		.player-preview
			img(src="%=staticPrefix=%images/content/player-preview.jpg" alt="")
		.player-panel
			.player-panel__timeline
			.player-panel__controls
				.player-panel__play
				.player-panel__volume
				.player-panel__time 0:01 
					span /  15:44
				.player-panel__full